extends layout

block content

  h1 #{title}

  form(method='POST')
    div.form-group
      label(for='name') Genre:
      input#name.form-control(type='text', placeholder='Country, Rock etc.' name='name' required value=(undefined===genre ? '' : genre.name) )
      label(for='description') Description:
      input#name.form-control(type='text', placeholder='Genre description' name='description' required value=(undefined===genre ? '' : genre.description) )
    button.btn.btn-primary(type='submit') Submit
  a(href=genre.url) Cancel

  if errors
    ul
      for error in errors
        li!= error.msg
