extends layout

block content
  dl 
  dl
  p Welcome to #[em Nate-O's Record Inventory], search through our catalog of Albums and Artists from various genres.
  | Feel free to create, modify or delete records in Nate-O's inventory.

  dl
  h3 Inventory Status

  p Nate-O's Record Inventory has the following record counts:

  ul
    li #[strong Albums:] !{album_count}
    li #[strong Artists:] !{artist_count}
    li #[strong Genres:] !{genre_count}